.productCard {
    font-size: 18px;
    padding: 10px;
    border: solid teal 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 1.5em;
        font-weight: bold;
    }
      
    &__photo {
        width: fit-content;
    }
      
    &__field {
        display: flex;
        align-items: center;
        position: relative;
        margin: 6px 0;

        label {
            display: block;
            padding: 0 5px 0;
        }

        input {
            display: block;
            margin-left: auto;
            outline: none;
            background-color: #ffffff;
            border: 1px solid #797979;
            border-radius: 5px;
        }

        &--error {
            input {
                border-color: #eb5757;
            }
            .productCard__error {
                opacity: 1;
            }
        }
    }

    &__error {
        color: #eb5757;
        position: absolute;
        right: 0;
        bottom: -12px;
        font-size: 0.6em;
        opacity: 0;
    }
}
