.shop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__title {
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        color: teal;
        margin: 10px;
    }

    &__table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;
    }

    &__add {
        margin: 10px 0;
    }
}
