.ProductsTable
{
  border: solid teal 3px;
  width: 300px;
  padding: 3px 7px;
  background-color: #d9ebda;
}

.ProductsTable .ShopTitle
{
  font-weight: bold;
  font-size: 20px;
  color: teal;
}

.ProductsTable .Products
{
  padding-top: 5px;
}

.ProductsTable .Products .Product
{
  padding: 2px 0;
}

.ProductsTable .Products .Product .Count
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

.ProductsTable .Products .Product .Title
{
  margin-right: 30px;
}
