.ProductsTable
{
  width: 420px;
  padding: 3px 7px;
}

.ProductsTable .ShopTitle
{
  font-weight: bold;
  font-size: 20px;
  color: teal;
  margin-left: 10px;
}

.ProductsTable .Products
{
  padding: 10px;
  margin-top: 10px;
  border: solid teal 3px;
  background-color: #e8f1e8;
}

.ProductsTable .Products .ProductsTitle
{
  font-size: 18px;
  font-weight: bold;
  color: teal;
  margin-bottom: 10px;
}

.ProductsTable .Products .Product
{
  padding: 5px 0;
  font-size: 18px;
}

.ProductsTable .Products .Product .Count
{
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.ProductsTable .Products .Product .Title,
.ProductsTable .Products .ProductsTitle .TitleName
{
  display: inline-block;
  width: 100px;
}

.ProductsTable .Products .Product .Price,
.ProductsTable .Products .ProductsTitle .TitlePrice
{
  display: inline-block;
  width: 80px;
  text-align: center;
}

.ProductsTable .Products .Product .Photo,
.ProductsTable .Products .ProductsTitle .TitlePhoto
{
  display: inline-block;
  width: 150px;
}

.ProductsTable .Products .Product .Count,
.ProductsTable .Products .ProductsTitle .TitleCount
{
  display: inline-block;
  width: 50px;
}
