.tree {
    &__container {
        display: flex;
        border: 3px solid gray;
        background-color: white;
    }

    &__folders {
        height: 400px;
        width: 300px;
        border-right: 3px solid gray;
        padding: 10px;
        overflow: auto;
        position: relative;

        &--only {
            width: 100%;
            border: none;
        }
    }

    &__files {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 400px;
        width: 300px;
        padding: 10px;
        overflow: auto;
    }

    &__folder {
        transition-duration: 0.3s;
        padding: 0;
        list-style: none;
        text-align: left;

        &-name {
            display: flex;
    
            span {
                display: inline-block;
                position: relative;
                font-size: 20px;
                margin-left: 23px;
                line-height: 30px;
                padding: 0 5px;
                cursor: pointer;
    
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -23px;
                    top: 5px;
                    background-repeat: no-repeat;
                    background-image: url("/img/folder.svg");
                }
            }
        }

        &-children {
            padding: 0;
            margin-left: 10px;
        }

        &-arrow {
            transition: transform 0.1s;
            height: 30px;
            width: 30px;
            background-image: url("/img/up-arrow.svg");
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: center;
            transform: rotate(90deg);
            cursor: pointer;

            &:focus,
            &:hover {
                background-size: 12px;
            }
        }

        & > span {
            margin-left: 53px;
        }
        
        &--open > .tree__folder-name .tree__folder-arrow {
            transform: rotate(180deg);
        }

        &--active {
            & > .tree__folder-name span,
            & > span {
                background-color: lightblue;
                border-radius: 4px;
            }
            
        }
    }

    &__file {
        display: block;
        position: relative;
        font-size: 20px;
        margin-left: 60px;
        line-height: 30px;
        height: 30px;
        text-align: left;
        padding: 0 5px;
        cursor: pointer;
        
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: -20px;
            top: 5px;
            background-image: url("/img/file.svg");
            background-repeat: no-repeat;
        }

        &--aside {
            margin-left: 20px;
        }
    }
}
